body
  font-family: 'GraphikWebFont', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

*
  box-sizing: border-box

input, button, textarea
  font-family: inherit

.btn
  margin: 0 auto
  display: block
  width: auto
  outline: 0
  border: 0
  padding: 0.7rem 1.6rem
  border-radius: 10rem
  width: calc(100% - 2.5em)
  font-weight: 600
  &:not(:last-child)
    margin-bottom: 0.75em

  &--primary
    color: #fff
    background-color: #048aff

  &--secondary
    background: none
    color: #8d8d8d
    font-size: 0.85rem
    padding: 0
    margin-top: 0.85rem


.form
  &__header
    display: flex

  &__heading
    font-size: 1.5rem
    font-weight: bold
    margin-bottom: 0.75em
